{%  extends "blog_app/base.html" %}

{% block content %}
    <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
  {% for post in posts %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"d F, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
  {% endfor %}
  <div style="text-align: center;">
    <div style="display: inline-block;">
      {% if is_paginated %}
        {% if page_obj.has_previous %}
          <a href="?page=1" class="btn btn-outline-info btn-sm mb-4">First</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a href="?page={{ num }}" class="btn btn-info btn-sm mb-4">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}" class="btn btn-outline-info btn-sm mb-4">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info btn-sm mb-4">Last</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content2 %}
  <div class="content-section">
    <h3>Posts filter</h3>
    <p class='text-muted'>Choose date range:</p>
    <form action="{% url 'user-posts' view.kwargs.username %}" method="GET">
      <table>
        <tr><td>From:</td><td><input type="date" name="date_filter1"></td></tr>
        <tr><td>To:</td><td><input type="date" name="date_filter2"></td></tr>
        <tr><td><button type="submit" class="btn btn-info btn-sm mt-1 mb-1">Filter</button></td></tr>
      </table>
    </form>
  </div>
{% endblock %}